html, body {
    font-family:  BentonSans, sans-serif;
    font-size: 1em;
}
form{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 1rem;
}

label {
    grid-column: 1 / 2;
}

.form-input{
    grid-column: 2 / 3;    
    border-radius: .1rem;
    border:1px solid rgb(207, 207, 207);   
}

textarea{
    resize: vertical;
}

button {    
    background-color: none;
    border:1px solid rgb(207, 207, 207);   
    border-radius: .1rem;
    padding: .5rem;   
    text-align: center;
    text-decoration: none;
    font-size: 1em;    
}

button:hover{
    background-color: rgb(230, 230, 230);
}

 button:active {
    background-color: rgb(201, 201, 201);
}

.container {
    border: none;  
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    border-radius: .1rem;
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }